
.idea/DataProfiling.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.vscode/launch.json
DataProfiling/__pycache__/__init__.cpython-310.pyc
DataProfiling/__pycache__/__init__.cpython-39.pyc
DataProfiling/__pycache__/settings.cpython-310.pyc
DataProfiling/__pycache__/settings.cpython-39.pyc
DataProfiling/__pycache__/urls.cpython-310.pyc
DataProfiling/__pycache__/urls.cpython-39.pyc
DataProfiling/__pycache__/wsgi.cpython-310.pyc
DataProfiling/__pycache__/wsgi.cpython-39.pyc
*.pyc
web/migrations/0001_initial.py
web/migrations/0002_remove_connections_id_connections_connection.py
web/migrations/0003_remove_connections_connection_and_more.py
